@page "/login"
@inject LoginService loginService
@inject EmpService eS
@inject GlobalService globalService
@inject NavigationManager NM

<h3>Login</h3>
<EditForm Model="login" OnValidSubmit="HandleSubmit">
    <div>
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="@login.Email" class="form-control"></InputText>
    </div>
    <div>
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="@login.Password" type="password" class="form-control"></InputText>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>


@code {

    private List<LoginModel>? _Login;
    private List<EmpModel>? _emp;
    private List<EmpLoginModel>? _empLog;
    LoginModel login = new LoginModel();
    EmpLoginModel emplog = new EmpLoginModel();
    bool isNew = true;

    protected override void OnInitialized()
    {
        login = new LoginModel();
        _Login = loginService.GetPWS();
        _emp = eS.CheckAdmin();
        _empLog = eS.EmpLogins();
    }

    private void HandleSubmit()
    {
        string pws = login.Password;
        string mail = login.Email;
        string firstName = emplog.FirstName;
        int LoginId = emplog.LoginId;

        if (_Login.Exists(x => x.Password == pws))
        {
            if (_empLog.Exists(b => b.Email == mail))
            {
                List<EmpLoginModel> temp = _empLog.FindAll(z => z.Email == mail);
                globalService.CurrentEmployeeLoginId = temp[3].LoginId;
                globalService.CurrentEmployeeFirstName = temp[1].FirstName;
                globalService.IsLoggedIn = true;
                NM.NavigateTo("/");
            }
        }

    }
}